.header__lang-link {
  margin: 0;
  width: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    width: 22px;
    font-size: 18px;
    line-height: 20px;
  }
}