.photo-grid {
    margin: 0 auto;
    max-width: 1184px;
    width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    grid-gap: 16px;
    padding: 0 48px;
    margin-bottom: 92px;
}
  
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .photo-grid {
      width: calc(100% - 2*48px);
      grid-gap: 14px;
      padding: 0 24px;
      margin-bottom: 92px;
    }
}
  
@media screen and (min-width: 425px) and (max-width: 768px) {
    .photo-grid {
      width: calc(100% - 2*24px);
      grid-gap: 16px;
      padding: 0 12px;
      margin-bottom: 88px;
    }
}
  
@media screen and (max-width: 425px) {
    .photo-grid {
      width: calc(100% - 2*16px);
      width: 90%;
      gap: 12px;
      padding: 0 12px;
      margin-bottom: 64px;
    }
}