.header {
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
  width: calc(100% - 2*48px);
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {
    width: calc(100% - 2*24px);
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100% - 2*16px);
    padding-top: 16px;
    padding: 0 16px;
    padding-top: 16px;
  }
}