.place__paragraphs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen  and (max-width: 768px) {
  .place__paragraphs {
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    width: 90%;
    justify-self: center;
  }
}