.lead__subtitle {
  margin: 0 auto 64px;
  padding: 0;
  max-width: 640px;
  font-family: "Inter", "Arial ", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  line-height: 120%;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}
 
@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 22px;
    line-height: 125%;
    max-width: 450px;
    margin: 0 auto 40px;
  }
}
  
@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    max-width: 288px;
  }
}
