.cover {
  margin: 0 auto;
  margin-top: 92px;
  padding: 0;
  flex-direction: column;
  display: flex;
  position: relative;
  width: calc(100% - 96px);
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0;
  }
}

@media screen and (max-width: 425) {
  .cover {
    margin-top: 66px;
  }
}