.footer__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  display: flex;
  column-gap: 18px;
}
  
@media screen and (max-width: 425px) {
  .footer__nav {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
  }
}