.cover__title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  max-width: 560px;
  display: flex;
  position: relative;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  align-self: center;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + 40*(100vw - 320px)/448);
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    margin-bottom: 16px;
    max-width: 288px;
  }
}