.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: auto;
  column-gap: 32px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}
  
@media screen and (max-width: 425px) {
  .place {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}