.footer {
  margin: 0 auto;
  padding: 92px 0 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 2*48px);
  max-width: 1184px;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2*24px);
    padding-top: 88px;
  }
}
  
@media screen and (max-width: 425px) {
  .footer {
    width: 100%;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 64px;
    row-gap: 48px;
  }
}