.footer {
  display: flex;
  justify-content: space-between;
  width: 92.5%;
  padding: 92px 0 24px;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-left: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    width: 90.63%;
  }
}

@media screen and (min-width: 767px) and (max-width: 768px) {
  .footer {
    padding-top: 88px;
    width: 93.75%;
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    row-gap: 48px;
    padding-left: 16px;
    margin: 0;
  }
}
