.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .place__website {
    width: calc(100% - 2*28px);
    justify-self: center;
  }
}
  
@media screen and (max-width: 425px) {
  .place__website {
    width: calc(100% - 16px);
    padding-left: 0;
  }
}