.intro__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
}

@media screen and (width: 768px) {
  .intro__title {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .intro__title {
    width: calc(288px + 432*(100vw - 320px)/448);
    font-size: calc(32px + 22*(100vw - 320px)/448);
    line-height: 109%;
  }
}