.intro__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
}

@media screen and (max-width: 768px) {
  .intro__title {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
